body{
  color: #40414E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 5.625rem;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  margin-bottom: 0px;
  color:  #66BFBF;
  line-height: 2;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 0px;
  color:  #66BFBF;
  font-weight: normal;
  padding-buttom: 10px;

}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{
  line-height: 2;
}

hr{
  border: dotted;
  color: #EAF6F6;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}


a{
  color: #11999E;
  margin: 20px 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

a:hover{
  color: #EAF6F6;

}



.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill{
  border-radius: 10%;
  width: 20%;
  margin: 10px;
  float: left;
  background-color: #66BFBF;

}
.skill2{
  border-radius: 10%;
  width: 20%;
  margin: 10px;
  float: right;
  background-color: #66BFBF;

}

.top-container{
  background-color:#E4F9F5;
  position: relative;
  padding-top: 100px;
s
}


.middle-container{
  margin: 100px 0px;

}

.profile{
  width: 15%;
  margin: 0px auto;
  padding: 10px

}

.intro{
  width: 30%;
  margin: auto;

}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0px 20px;


}

.web{
  text-decoration: underline;
}


.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
  width:10%;

}

.buttom-cloud{
  position: absolute;
  left:250px;
  top: 500px;
  bottom: 300px;
  margin: 0px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-me{
  margin: 20px;

}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.nav{
  color: #11cdd4;
  float: center;
  width: 0px auto;


}

.nav:hover{
  color: white;
}
